.primary {
    width: 90%;
    margin: 0 20px;
    background-color: var(--White);
    border-radius: 5px;
    padding: 1em;
    position: relative;
    bottom: 90px;
       
}

.primary__container {
    width: 333px;
    padding: 8px;
    transition: margin-left 0.3s ease-in-out;
}

.over {
    width: 100%;
    overflow: hidden;
}

@media  screen and (min-width: 1024px){
    .primary {
        width: 100%;
        position: relative;
        margin: 0;
        background-color: var(--White);
        border-radius: 5px;
        padding: 1em;
        bottom: 0;
    
    }

    .primary__container {
        width: 16.66%;
        height: 100;
        //padding: 2rem 5rem;
        transition: margin-left 0.3s ease-in-out;
    }

    .container__button {
        display: flex;
        gap: 20px;
    }

}